/*
* List styles
* Usage: 
*/
$ls-args: (
  $list-style:outside none none,
  $padding:0, 
  $margin:0
);
@mixin list-styles($ls-args) {
    list-style:$list-style; 
    padding:$padding;
    margin:$margin;
}