/*
* Padding shorthand
*/
@mixin padding-shorthand($padding) {
    padding: $padding;
}

/*
* Padding longhand
*/
@mixin padding-longhand($top: null, $right: null, $bottom: null, $left: null) {
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}