/*-- Variables
========================================================================== --/

/*
* Colours
*/
$primary-colour: #d52c38;
$secondary-colour: #2d7ab5;
$dark: #1e252c;
$light: #f5f5f5;

/*
* Base colours
*/
$base-border-colour: #d7d7d7;
$base-link-colour: $primary-colour;
$base-text-colour: $dark;


/*
* Font size
* Based on https://github.com/rbrtsmith/ui-example/
*/
$root-sizing-unit:  100%; /* [1] */
$root-sizing-coefficient: 18; /* [2] */

/* [3]		[4]	    [5]     [6] */
$txt-xxl:   55px,   4.5,    true;
$txt-xl:    40px, 	0,		true;
$txt-lg:    30px, 	-1,		false;
$txt-md:    20px, 	-2.5,	false;
$txt-sm:    16px, 	-3.6,	false;
$txt-xs:    14px, 	-3.6,	false;

$base-font-size: $txt-sm; /* [7] */

/*
* Fonts
*/
$primary-font: sans-serif;
$secondary-font: serif;

/*
* Line height
*/
$base-line-height:1.5;

/*
* Misc
*/